<div class="scrollable-div">
    <!-- First section - app-description -->
    <div class="head">
      <h2>Title</h2>
      <table>
        <tr>
          <td>Memory Limit:</td>
          <td>256 MB</td>
        </tr>
        <tr>
          <td>Time Limit:</td>
          <td>2 seconds</td>
        </tr>
      </table>
    </div>
  
    <div class="section">
      <div class="problem-section">
        <h2>Instruction</h2>
        <div class="problem-text">
          <pre>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla vehicula, mauris eget viverra viverra, erat erat commodo tortor,
        at ultricies arcu mauris sed tellus.
    Fusce et dui sed lectus auctor fringilla a sed justo.
        Quisque ullamcorper, dolor nec gravida commodo, est velit condimentum mi,
            a fringilla tellus turpis sed mauris.
    Suspendisse potenti. Aliquam erat volutpat.
    
        Donec dapibus rutrum augue at pulvinar.
    Sed sit amet nunc luctus, aliquet dolor vitae, auctor nunc.
    Mauris eget tortor vestibulum, vestibulum risus vel, bibendum eros.
    Vestibulum cursus tellus sit amet congue elementum.
    
    Curabitur id enim at mi semper commodo.
        Praesent a nunc semper, euismod purus et, congue dolor.
            Integer id erat commodo, feugiat mi et, dictum dolor.
                Nam at sem vel lorem feugiat lobortis.
    
        Fusce ultrices enim sed mauris tincidunt scelerisque.
    Sed eu erat sed metus consectetur dignissim.
        Phasellus vulputate felis eget mauris fermentum, et consectetur metus bibendum.
            Vestibulum tincidunt nulla id enim lacinia, sit amet posuere sapien lacinia.
            </pre>
        </div>
      </div>
    </div>
</div>
  